Repository AAEmara/Dropz, pull requests merged in 2025-08, with the labels that each got.

#13 Feature 1: Authentication | Added Django apps boilerplate
  backend/accounts/__init__.py
  backend/accounts/admin.py
  backend/accounts/apps.py
  backend/accounts/migrations/__init__.py
  backend/accounts/models.py
  backend/accounts/tests.py
  backend/accounts/views.py
  backend/addresses/__init__.py
  backend/addresses/admin.py
  backend/addresses/apps.py
  backend/addresses/migrations/__init__.py
  backend/addresses/models.py
  backend/addresses/tests.py
  backend/addresses/views.py
  scripts/create_django_app.sh
Labels: auth, backend, profile, address, shipping

#12 fix(docs): changed PR template location
  .github/pull_request_template.md
Labels: bug, documentation

#15 feat(core models): Impelement the core models
  backend/accounts/admin.py
  backend/accounts/migrations/0001_initial.py
  backend/accounts/migrations/0002_initial.py
  backend/accounts/models.py
  backend/addresses/admin.py
  backend/addresses/migrations/0001_initial.py
  backend/addresses/models.py
  backend/core/settings.py
  backend/core/urls.py
  backend/requirements.txt
Labels: auth, backend, profile, address

#21 Feature/auth/login&logout
  backend/accounts/serializers.py
  backend/accounts/urls.py
  backend/accounts/views.py
  backend/core/settings.py
  backend/core/urls.py
Labels: auth, backend, api

#35 Add CI: GitHub Actions for Backend & Frontend Linting, Testing, and Build
  .github/workflows/dev-checks.yml
  backend/accounts/apps.py
  backend/accounts/tests/test_dummy.py
  backend/addresses/apps.py
  backend/core/asgi.py
  backend/core/settings.py
  backend/core/urls.py
  backend/core/views.py
  backend/core/wsgi.py
  backend/manage.py
  backend/pytest.ini
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
Labels: ci, devops

#44 feat(profiles): add customer profile endpoints
  backend/accounts/serializers.py
  backend/accounts/tests/test_customer_workflow.py
  backend/accounts/urls.py
  backend/accounts/views.py
Labels: auth, registration, backend, api, testing, profiles

#57 Profiles & Products Features | Add Backend features to dev branch
  backend/accounts/admin.py
  backend/accounts/migrations/0001_initial.py
  backend/accounts/migrations/0002_initial.py
  backend/accounts/migrations/0003_alter_customerprofile_default_shipping_address.py
  backend/accounts/migrations/0003_delete_product.py
  backend/accounts/models.py
  backend/accounts/serializers.py
  backend/accounts/tests/conftest.py
  backend/accounts/tests/test_customer_workflow.py
  backend/accounts/tests/test_seller_workflow.py
  backend/accounts/urls.py
  backend/accounts/views.py
  backend/addresses/migrations/0001_initial.py
  backend/core/settings.py
  backend/core/urls.py
  backend/media/product_images/test_image.png
  backend/media/product_images/test_image_52vFWE7.png
  backend/media/product_images/test_image_xWhGP8H.png
  backend/products/__init__.py
  backend/products/admin.py
  backend/products/apps.py
  backend/products/filters.py
  backend/products/fixtures/categories.json
  backend/products/migrations/0001_initial.py
  backend/products/migrations/0002_alter_product_slug.py
  backend/products/migrations/0003_category_slug_alter_category_name.py
  backend/products/migrations/0004_alter_product_is_active_alter_product_price_and_more.py
  backend/products/migrations/0004_productreview.py
  backend/products/migrations/0005_merge_20250812_1456.py
  backend/products/migrations/0006_alter_product_is_active_alter_product_price_and_more.py
  backend/products/migrations/__init__.py
  backend/products/models.py
  backend/products/pagination.py
  backend/products/permissions.py
  backend/products/serializers.py
  backend/products/test_products_api.py
  backend/products/tests.py
  backend/products/urls.py
  backend/products/views.py
  backend/requirements.txt
Labels: backend, products, api, profiles

#58 feat(profiles): add user profile API
  backend/accounts/serializers.py
  backend/accounts/tests/test_user.py
  backend/accounts/urls.py
  backend/accounts/views.py
  backend/media/product_images/test_image_5SwDiL8.png
  backend/media/product_images/test_image_BlDJdj3.png
  backend/media/product_images/test_image_DgACgBl.png
  backend/media/product_images/test_image_YdcDTQ1.png
  backend/media/product_images/test_image_ZsC6hAF.png
  backend/media/product_images/test_image_bczbZf6.png
  backend/media/product_images/test_image_bkEE902.png
  backend/media/product_images/test_image_gB92kRA.png
  backend/media/product_images/test_image_iQ3wud9.png
  backend/media/product_images/test_image_ohJgnW8.png
  backend/media/product_images/test_image_ye8BuxX.png
Labels: backend, api, testing, profiles

#82 Added Order and Payment Models
  backend/orders/__init__.py
  backend/orders/admin.py
  backend/orders/apps.py
  backend/orders/migrations/__init__.py
  backend/orders/models.py
  backend/orders/tests.py
  backend/orders/views.py
  backend/payments/__init__.py
  backend/payments/admin.py
  backend/payments/apps.py
  backend/payments/migrations/__init__.py
  backend/payments/models.py
  backend/payments/tests.py
  backend/payments/views.py
  backend/products/models.py
Labels: backend, orders, payments, paymob-api
